/* .text-custom h1 {
  font-weight: 300;
  letter-spacing: 2px;
} */

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.title {
  color: var(--mainColor);
}
