.banner__gradient {
  position: relative;
  /* padding: 2rem 2rem; */
  /* border: 30px solid #fd6ea8; */
  /* background-image: linear-gradient(#fd6ea8, #ff758c); */
}

.bottom-arrow {
  left: 48.3%;
  bottom: -3%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fd6ea8;
  position: absolute;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.chat-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fd6ea8;
}

.chat-icon {
  position: relative;
  top: 25%;
  left: 25%;
  color: #ffffff;
  font-size: 2rem;
}

.chat-button:hover {
  cursor: pointer;
}
